.main-container
{
    margin-left: 150px;
    padding:10px;
    background-color:burlywood;
    width:75%;
    height: 700px;
}
.navbar
{
    background-color:chocolate;
    width: 100%;
    height:40px;
    text-align: center;
    padding: 2px;
    
}
td
         {
          border: 1px solid black;
          padding: 15px;
          width:250px;
          padding: 20px;
        }

/* Conata us html style */

.app
{
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 50px;
    width:50%;
    height:40px;
    margin-left: 100px;
    margin: auto;
    
}
.myForm
{
   
    justify-content:center;
    align-items: center;
    display:inline-block;
    background-color: pink;
    margin-left: 10px;
    padding: 20px;

}
.input1,.input2,.input3,.input4
{
    padding: 10px;
}

/* Query selector */

.parent
{
    border: 2px solid brown;
    width: 100%;
    height: 100px;
    /* display:flex;
    justify-content:space-evenly;
    margin: 2px;
    padding:2px; */
}
.box
{
    border: 3px solid red;
    background-color: blanchedalmond;
    width: 5%;
    height:40px;

}
